CONFIG_VENDOR_ARM=y
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_8=y
# CONFIG_CONSOLE_USE_LOGLEVEL_PREFIX is not set
# CONFIG_CONSOLE_USE_ANSI_ESCAPES is not set
# CONFIG_GENERATE_SMBIOS_TABLES is not set
# CONFIG_PAYLOAD_NONE is not set
CONFIG_PAYLOAD_FILE="uefistub.elf"
CONFIG_COMPRESSED_PAYLOAD_NONE=y
