CONFIG_BOARD_EMULATION_QEMU_SBSA=y
CONFIG_CONSOLE_CBMEM_BUFFER_SIZE=0x20000
CONFIG_I2C_TRANSFER_TIMEOUT_US=500000
# CONFIG_PAYLOAD_NONE is not set
CONFIG_PAYLOAD_FILE="u-boot.elf"
CONFIG_DEBUG_ACPICA_COMPATIBLE=y
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_8=y
CONFIG_UPL_FDT_HANDOFF=y
